#PlaqueList
{
	position: absolute;
	top: 12%;
	left: 0%;
	
	width: 100%;
	height: 85%;
	
	background-color: #DFDFDF;	
	
	overflow: auto;
	transition: left 0.2s linear 0s;
}

img.Icon
{	
	max-width: 100%;
	max-height: 100%;
}

div.ImageHolder
{
	position: absolute;
	top: 5%;
	left: 72%;
	width: 16%;
	height: 84%;
			
	background-color: #DDDDDD;
			
	background: no-repeat;
	background-size: contain;
	background-position: center center;
}

div.Plaques
{
	position: relative;
	left: 5%;
	min-height: 3%;
	margin-bottom: 2%;
	height: auto;
	width: 91%;
	background-color: #FFFFFF;
	overflow: hidden;
	cursor: pointer;
	text-overflow: ellipsis;
	padding: 3%;
	box-sizing:border-box;
}

div.PlaquesTitle
{
	position: relative;
	
	margin-bottom: 1%;
	margin-left: 1%;

	width: 70%;

	font-size: 5vmin;	
	
	overflow: hidden;

	cursor: pointer;
	
	text-overflow: ellipsis;
}

div.SpaceAdder
{
	position: relative;
	
	margin-left: 1%;
	
	white-space: nowrap;

	width: 70%;

	font-size: 3vmin;	
	
	overflow: hidden;

	text-overflow: ellipsis; 
	
	cursor: pointer;
}

div.PlaquesDescription
{
	position: relative;
	
	margin-left: 1%;

	width: 70%;

	font-size: 3vmin;
	
	line-height: 3vmin;
    height: 9.3vmin;
    overflow: hidden;
	
	cursor: pointer;
}

button.PlaqueButton
{
	position: absolute;
	left: 90%;
	
	display: block;
	padding: 0%;
	width: 10%;
	height: 100%;
	margin-top: -3.25%;
	
	font-size: 3vmin;
	
	background-color: #EEEEEE;
	border: none;
}