* 
{
    color: inherit;

    font-family: Poppins;
    font-weight: 400;

    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}

code
{
    font-family: "Source Code Pro";
    font-weight: 400;
    font-size: 12px;
}

*, *::after, *::before
{
    box-sizing: border-box;
}

ol, ul
{
    list-style: none;
}

div
{
    min-width: 0;
    min-height: 0;
}

html
{
    -webkit-font-smoothing: antialiased;
}

html, body
{
    width: 100%;
    height: 100%;
}

/* appmount styles */
.appmount
{
    position: relative;
    width: 100%;
}

/* grid styles */
.grid-navbar
{
    display: flex;
    gap: 10px;

    width: 100%;
    height: 60px;

    margin: 5px 10px;
}

h1
{
    background-color: #f3f3f3;
    padding: 12px;
    border-radius: 4px;
    font-weight: 600;
}

.grid-category
{
    position: relative;
    width: 100%;
    
    padding: 10px;
}

.grid
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-row-gap: 20px;
}

.grid-cell
{
    position: relative;
    width: 350px;
}

.cell-notifs
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

.divider
{
    z-index: 1;
    height: 0;
    border-top: thin solid #b5b5b5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.divider span
{
    background-color: white;
    padding: 0 5px;
    font-size: 12px;
}

.notification
{
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    white-space: pre-line;
    border-radius: 4px;
    color: white;
}
.notif-icon
{
    fill: white;
}
.notif-wrapper
{
    display: flex;
    flex-direction: column;
    flex: 1 1;
}
.notif-title
{
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 130%;
}
.notif-body
{
    margin-top: 5px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 130%;
}
.notif-entity-id
{
    display: none;
    margin-top: 15px;
    font-size: 0.675rem;
    font-weight: 400;
    line-height: 130%;
}
.notif-error-code
{
    display: none;
    margin-top: 15px;
    font-size: 0.675rem;
    font-weight: 400;
    line-height: 130%;
}
.notif-cta
{
    display: none;
}
.notif-cta-btn
{
    background-color: transparent;
    border-radius: 1000px;
    border-width: 1px;
    border-color: white;
    padding: 2px 12px;
    border-style: solid;
}

/* panel styles */
.panel
{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}